body {
    background: rgb(38, 38, 229);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 25px;
    width: 650px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.376);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}